.wrapper-statistics{
  flex: 1 1 auto;
  position: relative;
  
  .page-coronaGreenBig{
    position: absolute;
    z-index: -1;
    bottom: 600px;
    left: 0%;
    opacity: 70%;

    @media (max-width: 1200px) {
      max-width: 200px;
    }
  }
}