.btn{
  background-color: var(--color-green);
  color: var(--color-white);
  font-size: 20px;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;

  @media (max-width: 1050px){
    font-size: 18px;
    padding: 7px 20px;
  }
}

.btn:hover{
  box-shadow: 0px 0px 10px var(--color-black-shadow);
  cursor: pointer;
}

.btn:active, .btn:focus{
  border: none;
  outline: none;
}
