.country-item{
  border-bottom: 2px solid #EBEBEB;  
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  column-gap: 20px;
  text-align: start;
  padding: 10px 0;
  text-align: center;  
}

.country-item:last-child{
  border-bottom: none; 
}

.name-country{
  font-size: 25px;
  margin-right: 20px;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.country-item-statistics{
  display: flex;
  flex-direction: column;  
}

.green-text{
  color: #44B564;
}

.red-text{
  color: #F06868;
}

.big-number{
  font-family: 'Mulish';
  font-size: 20px;
}

.small-number{
  font-family: 'Mulish';
  font-size: 18px;
}

.country-item-statistics span{
  margin-bottom: 5px;
}

.country-item-statistics span:last-child{
  margin-bottom: 0;  
}