:root{
  --color-black: #000;
  --color-white: #fff;
  --color-light-grey: #EBEBEB;
  --color-dark_grey: #455A64;
  --color-dark_gray_rgb: 69, 90, 100;
  --color-green: #44B564;
  --color-green-rgb: 68, 181, 100;
  --color-red: #F06868;
  --color-black-shadow: rgba(0, 0, 0, 0.2);
  --color-green-shadow: rgba(100, 207, 131, 0.3);
  }