.country-search-section{
  .search-results-block{
    margin-bottom: 50px;
    text-align: start;

    .search-results-text{
      font-size: 30px;
      margin-right: 20px;
    }

    .btn-close{
      max-height: 17px;
    }

    .btn-close:hover{
      cursor: pointer;
    }

    .search-countries-list{
      box-shadow: 0px 0px 30px var(--color-black-shadow);
      border-radius: 20px;
      margin-bottom: 50px;
      background-color: var(--color-white);

      .country-item-single:hover{
        border-radius: 20px;
      }
    }
  }  

  .search-input-block{
    display: inline-block;
    min-width: 400px;
    text-align: start;
    box-shadow: 0px 0px 20px var(--color-black-shadow);
    border-radius: 20px;
    position: relative;
    right: 50%;
    transform: translateX(50%);
    margin-bottom: 20px;
    background-color: var(--color-white);

    .search-input{
      padding: 10px;
      min-width: 300px;
      font-size: 20px;
      outline: none;
      border: none;
      margin: 0 20px;
    }

    .search-icon{
      max-height: 30px;
      margin-right: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
    }
    
    .search-icon:hover{
      cursor: pointer;
    }
  }
}
